
<main>

  <section>
    <header>
      <h2>FEATURE ITEM </h2>
    </header>

    <div>
      <img src="http://johngushue.typepad.com/.a/6a00d83451f25369e201630079e317970d-pi">
    </div>

    <p>
      Item Price?
    </p>
  </section>
</main>
