<main class="row">
  <section>

    <header class="align-center row force-index">
      <h2>The Force's Pick </h2>
    </header>

    <section class="clearfix small-6 small-centered large-5 large-centered columns border-color product-padding ">
      <% if @products.any? %>
        <div class="float-center feature align-center ">
          <% product = @products.sample %>
          <%= link_to image_tag(product.photo_url), product_path(product), class:"thumbnail" %>
          <span><%= product.name %></span>
          <span><%= number_to_currency product.price %></span>
        </div>
        <p>

        </p>
      <% else %>
          <h1>Products coming soon!</h1>
      <% end %>
    </section>
</main>
