<main class="row margin-zero min-width no-bg">
  <section class="align-center">

    <header class="bg">
      <h2 class="more-padding">Popular Items</h2>
    </header>

      <% if Product.any? %>
      <% product = Product.first %>

        <div class="thumbnail small-thumb small-12 large-3 small-centered large-centered columns padding more-margin">
          <%= link_to image_tag(product.photo_url), class:"padding", alt:"#{product.name}" %>

          <p><strong><%= product.name %></strong></p>
          <p>
            $ <%= product.price %>.00
          </p>
        </div>

      <% else %>

          <h2>Products coming soon!</h2>

      <% end %>

  </section>
</main>
