<main>
  <section>
    
    <header>
      <h2>Popular Items</h2>
    </header>

    <div class="small">
      <% product = @products.sample %>
      <%= link_to image_tag(product.photo_url) %>
      <p>
        <%= product.price %>
      </p>
    </div>

  </section>
</main>
