<main>
  <header class="bg align-center row force-index more-padding">
    <h2>Your Cart</h2>
  </header>
  
  <p>Your Subtotal: </p>

  <%= link_to "Checkout", order_path(order(:id)), class: "button" %>
</main>
