<h1>Show <%= @merchant.username %> orders</h1>

<%= render partial: "orderstable", locals: {
  orders_hash: @paid_orders_hash, add_class: "paid"
} %>

<%= render partial: "orderstable", locals: {
  orders_hash: @complete_orders_hash, add_class: "complete"
} %>
