<h1>Show <%= @merchant.username %> orders</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th width="100">Votes</th>
      <th width="200">Joined</th>
    </tr>
  </thead>
</table>



<%= @orders.each do |order| %>
<% end %>
