<main>
  <header class="bg align-center row force-index more-padding">
    <h2 class="text-center">Payment information</h2>
  </header>
  
  <div class="row text-center">
  <%= render partial: "form" %>
  </div>
</main>
