<h2>Shipping Information </h2>
<hr />
<h3>Bianca</h3>

<table class="hover">
  <tbody>
    <tr>
      <!-- <th class="table-order" rowspan="100%">User Info</th> -->
    <tr>
      <th>EMAIL</td>
      <th>MAILING ADDRESS</th>
      <th>LAST FOUR OF CREDIT CARD</th>
      <th>CREDIT CARD EXPIRATION</th>
    </tr>
    <% @payment.each do |detail| %>
      <tr class="subtable">
        <td><%= detail.email %></td>
        <td><%= detail.mailing_address %></td>
        <td><%= detail.cc_number.split(//).last(4).join %></td>
        <td><%= detail.cc_expiration %></td>
      </tr>
      <% end %>
  </tbody>
</table>



Name
