table {
  font-family: "Arial black";
  text-align: center;
}

a {
  color: #ffdf00;
  font-family: 'Bungee Inline', cursive;
}

a.button {
  color: #ffdf00;
  font-family: 'Bungee Inline', cursive;
  background-color: #031530;
}

h3, h4 {
  color: white;
  font-family: 'Bungee Inline', cursive;
}
