// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-product img {
  height: 400px;
  width: 400px;
  border: 1px solid;
  margin-bottom: 30px;
}

.show-box {
  text-align: center;
}

.description {
  display: block;
  font-size: 1.2em;
  font-family: sans-serif;
}

.inventory {
  font-size: 1.2em;
  padding: 30px;
}

h1 {
  color: white;
  font-family: 'Bungee Inline', cursive;
}
/* *****************************************************
                            INDEX
****************************************************** */

#new_order_item {
  display: inline-block;
}

#quantity {
  height: 30px;
  width: 100px;
}

.button-style {
  font-family: 'Bungee Inline', cursive;
  color: #ffdf00
}

header.bottom-margin {
  margin-bottom: 80px;
}

.product-block {
  padding-top: 25px;
}

#products-index {
  margin: 5%;
}

p.product-name {
  padding-top: 10px;
}

#available {
  font-family: sans-serif;
}


/* *****************************************************
                            SHOW
****************************************************** */

.review h2 {
  padding-top: 60px;
}

.review-details {
  padding-top: 20px;
  padding-bottom: 20px;
}

.review-details img {
  height:70px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

/* *****************************************************
                            EDIT
****************************************************** */

.button {
  color: #ffdf00;
  font-family: 'Bungee Inline', cursive;
  background-color: #031530;
}

label {
  font-family: "Arial black";
}
